/* OVERALL STYLES */
body {
  background-color: lightblue;
  min-height: 100vh;
}

/* NAVBAR */
.navbar {
  background-color: gold;
}

/* MAIN */
main {
  margin-top: 5vh;
  background-color: #fff;
}

#graph-container {
  margin: 5vh 0;
  padding: 12px 0 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* GRAPH PLOT */
.dot {
  transition: r 1s;
}

#tooltip {
  transition: opacity 1s, width 1s;
  overflow: hidden;
  white-space: nowrap;

  div {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;

    p {
      font-size: 12px;
      margin: 0;
    }

    .details {
      width: 190px;
      margin-top: 10px;
      white-space: normal;
    }
  }
}

g#legend {
  outline: 1px solid black;
  outline-offset: 5px;
}
