/* OVERALL STYLES */
body {
  background-color: lightyellow;
  min-height: 100vh;
}

/* NAVBAR */
.navbar {
  background-color: #ffdb00; // TDF Yellow Jersey

  .navbar-brand {
    margin-left: 40px;
  }
}

/* MAIN */
main.container-md {
  margin: 3vh auto;
  padding: 0;
  background-color: lightyellow;
}

#graph-container {
  padding: 12px 0 12px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;

  #title {
    margin-bottom: 0;
  }
}

/* GRAPH PLOT */
.graph {
  margin-bottom: 20px;
}

.dot {
  transition: r 1s;
}

#tooltip {
  transition: opacity 1s, width 1s;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;

  div {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;

    p {
      font-size: 12px;
      margin: 0;
    }

    .details {
      width: 190px;
      margin-top: 10px;
      white-space: normal;
    }
  }
}

g#legend {
  outline: 1px solid black;
  outline-offset: 5px;
}

.tick {
  font-size: 14px;
}
